html, body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-border {
    background-color: linear-gradient(to right, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    width: 30%;
    height: 30%;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-size: 6rem;
    background: linear-gradient(to right, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
    border: 10px;
}

.button::before {
    content: "";
    position: absolute;
    inset: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
}

.button::after {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: attr(data);
    font-size: 6rem;
  }

.button:hover {
    color: var(--btn-color-hover);
    background: linear-gradient(to left, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4), var(--grad-color5));
    border: 10px;
}